*{
	padding:0;
	margin:0;
}
html{
	background:#fcc;
}
body{
	width:700px;
	margin:0px auto;
	background:#786;
	padding:10px;
}
h1{
	margin:10px 0;
}
p{
	background:#ccc;
	margin:20px 0px;
	text-align:justify;
	margin-top:30px;
}
div{
	margin:20px 0px;
	border:1px solid black;
}